.side-image
  .images-wrapper
  .side-image-content
    %h4 Stripe with Rails
    %h1 3-way payments with Stripe
    %p Stripe is considered to have some of the best documentation available for payment gateway systems.
    While that is indeed true, it can still be daunting to implement custom features for your app with Stripe.
    For sure, the Stripe Checkout popup takes the problem of styling out of your hands,
    but what if you want to host payments between users? Here I will take you step-by-step through the process.
